p {
  font-family: Montserrat, Arial;
  color: #9fced6;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: justify;
}

p li {
  font-family: Montserrat, Arial;
  color: #9fced6;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: justify;
}

i {
  font-size: 13px;
}

body {
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background: radial-gradient(#1d2025, #0f2b47);
  background-size: 200% 2000%;
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}

table {
  font-family: Montserrat, Arial;
  color: #9fced6;
  text-align: justify;
}