.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 10%;
  background-color: transparent;
  width: 15%;
  z-index: 200;
  padding-top: 5px;
  max-width: 170px;
}

.sidebar-link {
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%;
  border: 1px solid transparent;
  border-radius: 10px;
  margin-left: 15%;
  padding: 5px;
}

.sidebar-link:hover {
  background-color: #1165a15d;
  cursor: pointer;
  border: 0.01px solid #1165a1b0;
  
}

.sidebar-link img {
  height: 50%;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-family: Montserrat, Arial;
  font-size: 14px;
  color: #9fced6;
}

.sidebar-link.active {
  background-color: #1165a15d;
  border: 1px solid #1165a1b0;
}

.sidebar-link:not(.active) {
  background-color: transparent;
}